.footerContainer {
    background-color: rgba(27, 27, 48, 0.9);
    width: 100%;
    height: 40vh;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.footerItem {
    width: 20%;
    flex: 1;
    height: 80%;
    padding: 10px; 
    color: rgb(242, 233, 228);
}

.Title{
    font-size: 1.3rem;
}

.footerContactUs {

    height: 80%;
}

.Information {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.informationItem {
    margin-top: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.informationIcon {
    margin-right: 20px;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90%;
}

.links {
    cursor: pointer;
    width: 20%;
}

.links:not(:first-child) {
    margin: 5px 0px;
}

.links:hover {
    color:rgba(143, 143, 218, 0.644);
}

.mapContainer {
    width: 100%;
    border-radius: 5px;
    height: 100%;
}