.headerContainer {
    background-image: linear-gradient(rgba(27, 27, 48, 0.9) , rgba(34, 34, 59, 4)) ,url(../images/cover3.jpg);
    height: 100vh;
/*     width: 100vw;
 */    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}

.navigation {
    background-color: transparent;
    color: rgb(242, 233, 228);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.navItems {
    list-style: none;
    width: 80%;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navItemLinks {
    color: rgb(242, 233, 228);
    text-decoration: none;
    cursor: pointer;
}

.special{
    background-color: rgb(255, 255, 255);
    color:rgba(27, 27, 48, 0.9);
    padding: 15px;
    font-weight: 800;
    border-radius: 4px;
}

.headerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    color:rgb(242, 233, 228)
}

.headerContent span{
    font-weight: 500;
}

.formContainer{
    width: 70%;
}