.formContainer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: rgb(242, 233, 228);
    margin: auto;
    transform: translateY(-100px);
    border-radius: 10px 5px 10px 5px;
    -webkit-box-shadow: 0px 0px 8px 9px rgba(201, 173, 167, 0.28);
    box-shadow: 0px 0px 8px 9px rgba(201, 173, 167, 0.28);
}

.inputSection {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 10px;
}

.inputSection input, .inputSection select {
    border: none;
    padding: 10px 30px;
    box-sizing: border-box;
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
}

.inputSection label {
    font-weight: bold;
    font-size: 1.1rem;
}

.button {
    background-color: rgba(27, 27, 48, 0.9);
    color: #fff;
    padding: 20px 50px;
    border: none;
    border-radius: 10px 2px 10px 2px;
    cursor: pointer;
    transform: translateY(15px)
}